body{
    font-family: 'poppins',sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: green;
}
.half-width{
    width: 40%;
float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px green;
    border-radius: 5px;
    height: 50%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-color: green;
}
#baby-web{
    border-left: 7px solid;
    border-color: indigo;
}
footer p{
    text-align: center;
}
